<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      reiciendis eius porro iste, ex, aliquam tempore dolorum officiis, neque
      cumque commodi facere! Illo quae molestiae laborum officia voluptates
      dolore velit.
    </p>
  </body>
</html>
